---
layout: page
title: TeamProject
description: This page records a team project.
permalink: /teamproject/
---
{% assign team_posts = site.posts | where: "tags", "team" %}
{% assign total_pages = team_posts | size | divided_by: 5 %}
{% assign current_page = page.current_page | default: 1 %}
{% assign team_posts_paginated = team_posts | slice: 0, 5 %}

{% for post in team_posts_paginated %}
<article>
    <h2><a href="{{ post.url }}">{{ post.header }}</a></h2>
    <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> <i>{{ post.date | date_to_string }}</i> </time>
    <p>{{ post.content | strip_html | truncatewords:50 }}</p>
</article>
{% endfor %}

<div class="pagination">
  {% if current_page > 1 %}
    <a href="{{ '/teamproject/page/' | append: current_page | minus: 1 }}" class="previous">Previous</a>
  {% endif %}
  {% for page in (1..total_pages) %}
    <a href="{{ '/teamproject/page/' | append: page }}" class="{% if page == current_page %}active{% endif %}">{{ page }}</a>
  {% endfor %}
  {% if current_page < total_pages %}
    <a href="{{ '/teamproject/page/' | append: current_page | plus: 1 }}" class="next">Next</a>
  {% endif %}
</div>
